<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
{{!-- <div class="nav">
  <div class="navbar">
    <h3 class ="logo">NBA Players</h3>
    <ul>
				<li><a href="/">Home</a></li>
				<li><a href="/teams">Teams</a></li>
				<li><a href="/alphabetical">Alphabetical</a></li>
        <li><a href="/tallest">Tallest</a></li>
        <li><a href="/oldest">Oldest</a></li>
        <li><a href="/heaviest">Heaviest</a></li>
			
      </ul>
  </div>
</div> --}}

<body>
<div class="header">
  <img src="/images/maxresdefault.png" alt="superlogo" width="150"
         height="80">
  <h1>Super Message Board</h1>
</div>


<div class="row">
        <div class="side">
                <div class="nav">
                        <h1>Settings</h1>
                        <ul>
                            <li><a href="/" id="img">Home</a></li>
                            <li><a href="/addAnnouncement" id="announcements">Announcements</a></li>
                            <li><a href="/calender" id="calender">Calender</a></li>
                            <li><a href="/addQOD" id="qod">Quote of the Day</a></li>
                            <li><a href="/editSignin" id="signin">Sign-In Sheet</a></li>
                            <li><a href="/game" id="game">Game</a></li>
                                
                          </ul>
                    </div>
        </div>

    <div class="content">
      {{{body}}}
    </div>
</div>

</body>
</html>
