<h2>Current Announcement:</h2>
{{#each data}}
    {{this.announcements}}
{{/each}}
<br>
<h2>Enter new Announcement:</h2>
<form method="POST" action="/addAnnouncement">
    <input type="textarea" name="announcements">
    <button type="submit">Submit</button>
</form>