  <div class="main">
    <h2>Calender Entry</h2>
      <iframe src="https://calendar.google.com/calendar/embed?title=Message%20Board%20Calender&amp;showPrint=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=zperis%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="400" height="400" frameborder="0" scrolling="no"></iframe>
      <br>
      <p>Fill these fields to enter a new event in your Google Calendar.</p>
    <p><label>Select a date: <input type="date" id="date"></label></p>
    <p><label>Start time <input type="time" id="start"></label>
       <label>End time: <input type="time" id="end"></label>
    </p>
      <br>
      <div title="Add to Calendar" class="addeventatc">
    Add to Calendar
        <span class="start">05/03/2019 08:00 AM</span>
    <span class="end">05/03/2019 10:00 AM</span>
    <span class="timezone">America/Los_Angeles</span>
    <span class="title">Summary of the event</span>
    <span class="description">Description of the event</span>
    <span class="location">Location of the event</span>
      </div>
    <br>
  </div>
</div>