<style>
    #status{
    color: green;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    box-sizing: border-box;
    width: 20%;
}
    #namearea{
        color: green;
        font-family: courier;
    }
    
    #bioarea{
        color: green;
        font-family: courier;
    }
    
</style>


<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<script type= "text/javascript">
         function preview_image(event) {
             var reader = new FileReader();
             reader.onload = function(){
                 var output = document.getElementById('output_image');
                 output.src = reader.result;
             }
             reader.readAsDataURL(event.target.files[0]);
         }
    
        function namechange(){
            if(confirm("Are you sure you want to update your profile?")){
                document.getElementById('namearea').innerHTML = document.getElementById('newname').value;
                document.getElementById('bioarea').innerHTML = document.getElementById('newbio').value;
            }
        }
        
        function statuschange(){
             
             if (document.getElementById("status").innerHTML == "IN OFFICE"){
                 document.getElementById("status").style.color = "red";
                 document.getElementById("status").innerHTML = "OUT OF OFFICE";
             }
             else{
                 document.getElementById("status").style.color = "Green";
                 document.getElementById("status").innerHTML = "IN OFFICE";
             }
             
        }
    
</script>
<h4>Current Status: <p id ="status" onclick = "statuschange()">IN OFFICE</p></h4> 
<h2>System Settings</h2> 
<h4>Set Profile Picture</h4>
    <input type="file" accept="image/*" onchange="preview_image(event)">
    <img src="https://maap.ictas.vt.edu/content/maap_ictas_vt_edu/en/About/People/_jcr_content/content/vtmulticolumn_1922581201/vt-items_0/adaptiveimage_copy_c_795333438.transform/m-medium/image.png" id="output_image" alt="your image"/>
    <h4>Change your Display Name: </h4>
       <input type = "text" id = "newname"/> 
      <h5>Current Display Name: <p id = "namearea">Evan Golub</p></h5>
    <h4>Change your Bio: </h4>
       <textarea name="message" rows="5" cols="30" id = "newbio">A cool guy with a fun hat</textarea> 
      <h5>Current Bio: <p id = "bioarea">A cool guy with a fun hat</p></h5>
<button type="button" onclick= "namechange()" style="float:none;width:100px;height:30px;">Save Changes!</button>
    