{{#each data}}
    <h2>Sign-In Sheet:</h2>
    <form method="POST" action="/removeFirst">
        <ul id="myList">
            {{#each this.signin as |item|}}
                <div class="signinContainer">
                    <form method="POST" action="/removeCurrent">
                        <li class="signin">
                            {{item.[0]}}. Name: {{item.[1]}}
                            <div class="hide">Email: {{item.[2]}} <br> Reason: {{item.[3]}} </div>
                            <br>
                            <div class="deleteContainer">
                                <button class="delete">Remove</button>
                            </div>
                        </li>
                    </form>
                </div>
            {{/each}}
        </ul>
    </form>
{{/each}}